/*  your css code here. If applicable */
#container{
	margin: 20px;
}
p::before{
	content: "Before Element ";
	color: red;
	font: 20px;
}
p::after{
	content: " After Element";
	color: red;
	font: 20px;
}